body {
    margin: 0;
    padding: 0;
}

/* ____________Navbar_______________ */
nav {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 3vw;
    height: 60px;
    box-shadow: 10px 1px 1px black;
    position: fixed;
    width: 93.9%;
    background-color: white;
    z-index: 999;
}

nav .navigation ul {
    display: flex;
    align-items: center;
    height: 20px;
}

nav .navigation ul li {
    list-style: none;
    padding: 10px;
    margin-right: 20px;
}

nav .navigation ul li a {
    text-decoration: none;
    font-size: larger;
    color: rgb(12, 12, 210);
}

nav .navigation ul li a.active,
nav .navigation ul li a:hover {
    color: rgb(22, 206, 47);
}

/* _____________________About_Section________________ */
#about {
    background-image: linear-gradient(rgba(4, 6, 46, 0.3), rgba(6, 3, 53, 0.7)), url('./Images/form_img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(134, 236, 204);
    text-align: center;
    line-height: 1.3;
}

/* _________________Courses_________________ */
#course {
    text-align: center;
    padding: 3vw 5vw 2vw 7vw;
    background-image: linear-gradient(rgb(109 103 52 / 40%), rgb(103 70 70));
}

#course .popular_course {
    color: rgb(96, 108, 145);
}

#course .course_quatation {
    color: rgb(155, 116, 116);
}

#course .course_box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: .7rem;
}

#course .courses {
    text-align: start;
    background-color: rgb(217, 213, 213);
    position: relative;
    height: 100%;
    border-radius: 5px;
    margin-bottom: 50px !important;

}

#course .courses img {
    width: 100%;
    height: 63%;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}

#course .courses_detail {
    padding: 15px 10px 0px 10px;
}

.spans {
    margin-bottom: 0px;
    font-size: smaller;
}

#course .courses_detail h4 {
    margin-bottom: 0px;
    font-size: 1.4rem;
    margin-top: 0px;
}

.stars_rating {
    display: flex;
    flex-direction: row;
    width: 30px;
    margin-top: 2px;
}

.reviews {
    margin-top: 8px;
    margin-left: 5px;
}

#course .course_box .cost {
    background-color: rgb(105, 105, 4);
    font-size: 1rem;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    text-align: center;
    position: absolute;
    color: aliceblue;
    line-height: 70px;
    right: 5px;
    bottom: 100px;
}

/* ___________________Footer_________________ */
#footer {
    background-image: linear-gradient(rgb(6, 72, 158), #084594);
    padding: 8vw 8vw 9vw 15vw;
}

#footer .footer_container {
    display: flex;
}

#footer .footer_data h3 {
    color: rgb(237, 197, 95);
}

#footer .footer_data p {
    line-height: 1.2rem;
    color: rgb(208, 197, 197);
}

#footer .footer_data {
    margin: 10px;
    width: 450px;
}

#footer #last_footer_data {
    width: 700px !important;
}

#footer .footer_data .search {
    display: flex;
}

#footer .footer_data .search input {
    padding: 12px;
    font-size: 1rem;
    background-color: rgb(98, 86, 86);
    border: none;
}

#footer .footer_data .search a {
    text-decoration: none;
    padding: 12px;
    font-size: 1rem;
    background-color: darkorange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.copyright {
    display: flex;
    margin: 10px;
    margin-top: 40px;
    color: rgb(240, 182, 160);
}

.copyright .footer_icons {
    flex: auto;
    margin-top: 5px;
}

.copyright .footer_icons img {
    float: right;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}